<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>

    <header class="bg-warning">
        <div class="container">

            <div class="row">
                <div id="logo" class="col-4 col-sm-4 col-lg-2">
                    <img src="/images/logo-mercado-liebre.svg" alt="">
                </div>

                
                    <div class="search col-6 align-self-center" id="buscador">
                        <div class="input-group md-3">
                          <input type="text" class="form-control" placeholder="Buscar productos,marcas y mas!" aria-label="Recipient's username" aria-describedby="basic-addon2">
                          <div class="input-group-append">
                            <button class="lupa btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
                          </div>
                        </div>
                    </div>


                <div id="cuotas" class="col-12 col-sm-12 col-lg-4">
                    <span><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjetas de credito</span>
                </div>
            </div>


            <div class="row">
                <nav  class="col-12 navbar navbar-expand-lg w-100">
                        
                    <i class="fas fa-bars text-black m-auto navbar-toggler" data-target="#menu" data-toggle="collapse" type="button"></i>
                    
                    <div class="collapse navbar-collapse" id="menu">
                        
                        <ul class="navbar-nav mr-auto">
                            <li class="navbar-item mx-1">
                                <a href="" class="nav-link">Ofertas</a>
                            </li>
                            <li class="navbar-item mx-1">
                                <a href="" class="nav-link">Tiendas Oficiales</a>
                            </li>
                            <li class="navbar-item mx-1">
                                <a href="" class="nav-link">Vender</a>
                            </li>
                            <li class="navbar-item mx-1">
                                <a href="" class="nav-link">Ayuda</a>
                            </li>
                        </ul>


                        <ul class="navbar-nav ml-auto">
                            <li class="navbar-item mx-1">
                                <a href="" class="nav-link">Crea tu cuenta <i class="far fa-address-card"></i></a>
                            </li>
                            <li class="navbar-item mx-1">
                                <a href="" class="nav-link">Ingresa <i class="fas fa-sign-in-alt"></i></a>
                            </li>
                            <li class="navbar-item mx-1">
                                <a href="" class="nav-link">Mis compras <i class="fas fa-shopping-cart"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>  
            </div>
        </div>
    </header>

    <section>
        <img class="w-100" src="/images/img-home-banner.jpg" alt="">
    </section>

    <main>
        <div class="container">
            <h2>Basado en tu ultima visita</h2>
            
            <section class="padre ">
                <div class="row">

                


                    <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center align-items-center">

                        <article class="hijo rounded shadow w-100">
                            <div class="product-img">
                                <img class="rounded w-100" src="/images/p1.jpg" alt="">
                            </div>
                            
                            <div class="dropdown-divider"></div>
                            
                            <div class="product-box-data">
                                <i class="border text-success border-success fas fa-truck"></i>
                                <span class="precio">$6.500</span>
                                <span class="text-success">40% OFF</span>
                            </div>
                        </article>
                    </div>



                    <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center align-items-center">

                        <article class="hijo rounded shadow w-100">
                            <div class="product-img">
                                <img class="rounded w-100" src="/images/p2.jpg" alt="">
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="product-box-data">
                                <i class="border text-success border-success fas fa-truck"></i>
                                <span class="precio">$6.500</span>
                                <span class="text-success">40% OFF</span>
                            </div>
                        </article>
                        
                        
                    </div>

                    <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center align-items-center">

                        <article class="hijo rounded shadow w-100">
                            <div class="product-img">
                                <img class="rounded w-100" src="/images/p3.jpg" alt="">
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="product-box-data">
                                <i class="border text-success border-success fas fa-truck"></i>
                                <span class="precio">$6.500</span>
                                <span class="text-success">40% OFF</span>
                            </div>
                        </article>
                        
                        
                    </div>

                    <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center align-items-center">

                        <article class="hijo rounded shadow w-100">
                            <div class="product-img">
                                <img class="rounded w-100" src="/images/p4.jpg" alt="">
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="product-box-data">
                                <i class="border text-success border-success fas fa-truck"></i>
                                <span class="precio">$6.500</span>
                                <span class="text-success">40% OFF</span>
                            </div>
                        </article>
                    </div>
                </section>
            </div>


        <div class="container">
            <h2>Ofertas</h2>
            <section class="padre ">
                <div class="row">

                


                    <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center align-items-center">

                        <article class="hijo rounded shadow w-100">
                            <div class="product-img">
                                <img class="rounded w-100" src="/images/p1.jpg" alt="">
                            </div>
                            
                            <div class="dropdown-divider"></div>
                            
                            <div class="product-box-data">
                                <i class="border text-success border-success fas fa-truck"></i>
                                <span class="precio">$6.500</span>
                                <span class="text-success">40% OFF</span>
                            </div>
                        </article>
                    </div>



                    <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center align-items-center">

                        <article class="hijo rounded shadow w-100">
                            <div class="product-img">
                                <img class="rounded w-100" src="/images/p2.jpg" alt="">
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="product-box-data">
                                <i class="border text-success border-success fas fa-truck"></i>
                                <span class="precio">$6.500</span>
                                <span class="text-success">40% OFF</span>
                            </div>
                        </article>
                        
                        
                    </div>

                    <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center align-items-center">

                        <article class="hijo rounded shadow w-100">
                            <div class="product-img">
                                <img class="rounded w-100" src="/images/p3.jpg" alt="">
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="product-box-data">
                                <i class="border text-success border-success fas fa-truck"></i>
                                <span class="precio">$6.500</span>
                                <span class="text-success">40% OFF</span>
                            </div>
                        </article>
                        
                        
                    </div>

                    <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center align-items-center">

                        <article class="hijo rounded shadow w-100">
                            <div class="product-img">
                                <img class="rounded w-100" src="/images/p4.jpg" alt="">
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="product-box-data">
                                <i class="border text-success border-success fas fa-truck"></i>
                                <span class="precio">$6.500</span>
                                <span class="text-success">40% OFF</span>
                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </div>

        </div>
    </main>
        
    </div>
    <footer>
        <div id="container-footer" class="container">
            <div class="info-footer col-lg-4 col-sm-12">
                <i class=" text-primary fas fa-credit-card"></i>
                <span>Paga con tarjeta o efectivo</span>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="info-footer col-lg-4 col-sm-12">
                <i class=" text-primary fas fa-gift"></i>
                <span>Envio gratis desde $1.999</span>
                <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="info-footer col-lg-4 col-sm-12">
                <i class=" text-primary fas fa-user-shield"></i>
                <span>Seguridad de principio a fin</span>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
            </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="container">
            <span>Copyright © 1999-2019 MercadoLiebre S.R.L.</span>
        </div>
    </footer>


    


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>





