<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <script src="https://kit.fontawesome.com/eff8b9a252.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>

    <div id="generalContainer">
        <div id="left"></div>
        <div id="right"></div>

        <div id="innerContainer">

            <div id="navBar">
                <ul>
                    <a href="/home">
                        <li>Home</li>
                    </a>
                    <a href="/about">
                        <li>About</li>
                    </a>
                    <a href="/music">
                        <li>Music</li>
                    </a>
                    <a href="/contact">
                        <li>Contact</li>
                    </a>
                </ul>
            </div>

            <div class="socialNetworks">
                <i class="fab fa-spotify"></i>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram"></i>
            </div>

            <section class="body">
                <h1>About <br> Emilia</h1>

                <div class="post">
                    <h2>"Seattle-based pop star makes her <br>
                        indie debut with a hauntingly beautiful album"</h2>
                        <br>
                        <blockquote>- John Tirckle, Music Today Post</blockquote>
                </div>

                <div class="post">
                    <h2>"Emilia Cole is one of the scene's <br> breakout stars"</h2>
                        <br>
                        <blockquote>- John Tirckle, Music Today Post</blockquote>
                </div>
            </section>
        </div>
    </div>

</body>
</html>