<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <script src="https://kit.fontawesome.com/eff8b9a252.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>

    <div id="contenedorGeneral">
        <section id="left">
            <div class="navBar">
                <ul>
                    <a href="/home">
                        <li>Home</li>
                    </a>
                    <a href="/about">
                        <li>About</li>
                    </a>
                    <a href="/music">
                        <li>Music</li>
                    </a>
                    <a href="/contact">
                        <li>Contact</li>
                    </a>
                </ul>
            </div>

            <div class="socialNetworks">
                <i class="fab fa-spotify"></i>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram"></i>
            </div>

            <div class="emiliaTitle">
                <h1>Emilia <br> Cole</h1>
            </div>

            <div class="albumTitle">
                <h2>TWIST IN MY REALITY</h2>
            </div>
        </section>

        <section id="right"></section>
    </div>

    
</body>
</html>