<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/music.css">
    <script src="https://kit.fontawesome.com/eff8b9a252.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>


    <header id="header">
        <div id="navBar">
            <ul>
                <a href="/home">
                    <li>Home</li>
                </a>
                <a href="/about">
                    <li>About</li>
                </a>
                <a href="/music">
                    <li>Music</li>
                </a>
                <a href="/contact">
                    <li>Contact</li>
                </a>
            </ul>
        </div>
        
        <div class="socialNetworks">
            <i class="fab fa-spotify"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </header>

    <h1>Music</h1>

    <section class="body">
        <div class="directLinks">
            <h3>Direct Links</h3>
            <ul>
                <li><a href="#album">Album</a></li>
                <li><a href="#organicLove">Video Organic Love</a></li>
                <li><a href="#streetLight">Video: Street Light</a></li>
            </ul>
        </div>

        <div class="album" id="album">
            <h2>ALBUM - TWIST IN MY REALITY </h2>
            <img src="e-playlist.png" alt="">
            <ol>
                <li><i class="fas fa-play"></i>Organic Love | 2:40</li>
                <li><i class="fas fa-play"></i>Twist in my reality | 2:10</li>
                <li><i class="fas fa-play"></i>Street Lights | 3:28</li>
                <li><i class="fas fa-play"></i>Love don't live here anymore (Cover) | 3:49</li>
            </ol>
            <h4><a href="#header">Go to top</a></h4>
        </div>

        <div class="video" id="organicLove">
            <h2>Video - Organic Love</h2>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/EP32PPHCpy4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Directed by VINCE MALC & EMILIA COLE <br>
                Edited and Filmed by NICOLAS TROY <br>
                Produced by NIKI HEART, <br>
                Wix Films LTD.</p>
            <h4><a href="#header">Go to top</a></h4>
        </div>

        <br>

        <div class="video" id="streetLight">
            <h2>Video - Street Light</h2>
            <iframe width="500" height="300" src="https://www.youtube.com/embed/geHGPVTVj9Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Directed by VINCE MALC & EMILIA COLE <br>
                Edited and Filmed by NICOLAS TROY <br>
                Produced by NIKI HEART, <br>
                Wix Films LTD.</p>
            <h4><a href="#header">Go to top</a></h4>
        </div>
    </section>
</body>
</html>