<%- include('header.ejs') %>

<form action="/movies/create" method="post">
    <label for="">titulo</label>
    <input type="text" name="title" ><br>
    
    <label for="">Premios</label>
    <input type="text" name="awards" ><br>
    
    <label for="">rating</label>
    <input type="text" name="rating" ><br>
    
    <label for="">duracion</label>
    <input type="text" name="length" ><br>
    
    <label for="">creacion</label>
    <input type="date" name="release_date" ><br>
    
    <button type="submit">crear</button>
</form>